# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build

# Miscellaneous
.DS_Store
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
temp/
_trash/
*.backup
*~
*.swp
*.swo
.history/
uncommitted-*
*secret*
*key*
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
test-results*.log
logs/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?idle-game.wiki/
